/*BODY*/
body {
  margin: 0;
  padding: 0;
}
.buttons {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  font-size: 1.5em;
}


/*NAVBAR*/
  nav {
    background-color: #C12127;
    color: rgba(249,249,249,0.8);
    padding-top: 15px;
    padding-left: 15px;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  nav a {
    color: rgba(249,249,249,0.8);
    text-decoration: none;
  }
  .top-links {
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }


  /*HEADER*/
  .header{
    background: rgb(32, 101, 136);
    background-image: url(images/city-scape.svg);
    background-size: cover;
    width: 100%;
    position: relative;
    color: white;
    margin: 0 auto;
    position: 0.0;
    height: 520px;
  }
  .header-search-bar {
    height: 40px;
    padding-top: 10px;
  }
  .npm-logo { 
    width: 90px;
    float: left;
  }
  .link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 10px;
  }
  .bear-logo {
    float: right;
    width: 40px;
  }
  .content {
    margin: 0 auto;
  }
  .span {
    color: white;
    font-size: 1.5em;
  }
  .search-bar {
    color: white;
    width: 80%;
    height: 90%;
    border: 1px solid #4e4e57;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    background-color: rgb(31, 82, 111);
  }
  .content-build {
    margin: 0 auto;
    width: 35%;
    float: right;
    padding: 100px 47%;
  }
  .p {
    font-size: 1.5em;
  }
  .build {
    position: relative;
    margin: 0 auto;
    display: block;
    float: right;
    padding: 100px 20%;
  }
  .button1 {
    background: rgb(240,146,51);
    padding: 10px 30px;
  }
   .img-buildings{
    float: right;
    width: 10%;
  }


  /*SECTION 1-COLLABORATION*/
  .collaboration {
    background: rgb(39,53,71);
    margin: 0 auto;
    width: 100%;
    height: 520px;
  }
  .img-colab {
    width: 25%;
    float: right;
    position: absolute;
    margin: 130px 20%;
  }
  .content {
    position: relative;
    margin: 0 auto;
    display: block;
    float: right;
    padding: 50px 20%;
    width: 30%;
    box-sizing: content-box;
  }
  .heading {
    color: white;
    font-size: 2.5em;
  }

  .colab-ul {
    color: white;
    font-size: 1.5em;
  } 
  .button2{
    background: rgb(203,56,55);
    padding: 10px 40px;
  }
  .link2 {
    text-decoration: none;
    color: white;
    font-size: 1em;  
  }


  /*SECTION 2-NPM*/
  .npm {
    background-image: url(images/forklift.svg);
    background-size: cover;
    width: 100%;
    position: relative;
    color: white;
    margin: 0 auto;
    position: 0.0;
    height: 520px;
  }
  .install {
    position: absolute;
    color: white;
  }
  .npm-text{
    width: 40%;
    float: right;
    padding: 50px 5%;
    
  }
  .button3 {
    background: rgb(49,68,88);
    padding: 10px 30px;
  }


  /*SECTION 3-BUILDING BLOCKS*/
  .center {
    margin: 0 auto;
    background-color: white;
  }
  .building-blocks {
    text-align: center;
    border: 2px, solid, #eee;
    border-radius: 20px;
    box-sizing: border-box;
    width: 23%;
    height: 200px;
    width: 200px;
  }
  .container {
    margin: 0 auto;
    padding: 75px 0;
    text-align: center;
  }
  .blocks-h1 {
    font-size: 2.5em;
  }
  .blocks-p {
    font-size: 20px;
  }
  .logo-and-descriptions {
    width: 70%;  
    padding-left: 20%;
    padding-bottom: 20px;
  }
  .blocks-article {
    float: left;
    width: 20%;
    padding: 30px;
    border: 2px, solid, #eee;
    border-radius: 60px;
    box-sizing: border-box;
  }
  .col {
  display: inline-block;
  }
  .col-3 {
    width: 25%;
  }
  .col-middle {
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .info {
    text-align: center;
    font-size: 18px;

  }
  .img-building-blocks {
    display: block;
    margin: 0 auto;
  }
  .blocks-links {
    color: red;
    text-decoration: none;
  }
